.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  background-color: #FFF;
  padding: 0 38px;
}
.headerHome{
  cursor: pointer;
}
.headerMenu{
  cursor: pointer;
}
.header>:first-child{
  display: flex;
  gap: 38px;
}

.headerNav{
  display: flex;
  align-items: center;
  gap: 58px;

}
.headerLink{
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #d3d3d3;
}
.headerLink:hover{
  color: #000;
}
.linkActive{
  color: #000;
}

@media screen and (max-width:1024px) {
  .headerNav{
    display: none;
  }
}